<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>
<body>
<h1>Welcome to Text Analyzer.Enter the text</h1>
<form action='/analyze' method="get">
    <textarea name='text' spellcheck="false" style="margin: 0px; width: 1511px; height: 160px;"></textarea>
    <input type="checkbox" name="removepunc">Remove punctuations</br>
    <input type="checkbox" name="fullcaps">Full Capitialization</br>
    <input type="checkbox" name="newlineremover">New Line Remover</br>
     <input type="checkbox" name="extraspaceremover">Extra Space Remover</br>
    <button type="submit">Analyze text</button>
</form>
</body>
</html>